:root{
    margin: 0;
    background-color: burlywood;
}

.bookshelf {
    display: flex;
    flex-direction: row;
    outline: auto;
}

.book {
    width: 100px;
    background-color: aliceblue;
    border: solid black 2px;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}

.book h2 {
    margin-top: 0;
}