:root{
    margin: 0;
    background-color: rgb(36, 21, 1);
    color: white;
    text-align: center;
    font-family: Garamond, serif;
}

#bookshelf {
    display: flex;
    flex-direction: row;
    border: solid black 2px;
    background-color: rgb(58, 34, 2);
}

#menu {
    display: flex;
    background-color: rgb(69, 43, 4);
    padding: 10px;
    justify-content: space-around;
}

.book {
    width: 100px;
    background-color: rgb(67, 23, 7);
    color: silver;
    border: solid burlywood 3px;
    padding: 5px;
    margin: 10px;
    box-shadow: inset 0 0 10px black;
}

.book h2 {
    margin-top: 0;
}